

body{
    font-family: 'Roboto', sans-serif;
	
}  

/* Estilo para el <h1> con la fuente "Open Sans" en negrita */
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212529;;
}

p, h2, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}



/*color icono*/
.colorwhite {
    color: #fff;
}

.espacio {
    margin-bottom: 10.5rem;
    margin-top: 6.5rem;
}



#ico {
    margin-left: 15rem;
    padding-right: 10rem;
}

#text {
    margin-left: 5rem;
    padding-left: 10rem;
}


.navbar-toggler  {
    border-color: #fff;
    color: #636363;
    background-color:rgb(255, 255, 255, 0.7);
    
} 

.navbar-toggler .navbar-toggler-icon {
    border-color: #fff;

}

/**mover section*/


/*solucion problema img y navbar*/
.custom-navbar {
    position: relative;
    z-index: 9999;
}


/*fondo cards*/

/*menu fondo scroll*/
/* Estilo inicial del navbar antes del scroll */
.navbar {
    transition: background-color 0.3s;
}

/* Estilo del navbar con fondo cuando se haga scroll */
.navbar.scrolled {
    background-color: rgb(49, 165, 169); /* Cambia "your_color_here" por el color deseado */
}


.cardcolor {
    background-color: rgb(49, 165, 169);
}